<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>06B5A694-E8A2-4CD7-AEE8-E24E75172446</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>color</string>
			<key>text</key>
			<string>color</string>
			<key>url</key>
			<string>https://dribbble.com/colors/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>13491BA1-23C4-4DD5-86F9-EE8FC5C8F904</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>us</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>Unsplash</string>
			<key>url</key>
			<string>https://unsplash.com/search/photos/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1BCB614F-C1F5-48A5-B343-8082D1CC29F4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>51230259-497F-41A7-B209-1445F5AC7180</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gy</string>
			<key>text</key>
			<string>GatsbyJS</string>
			<key>url</key>
			<string>https://www.gatsbyjs.org/plugins/?={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AB691387-F468-46CB-8AF2-A53BF04AD2E2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>MDN</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C1101758-C108-4317-8DC7-CB22592D2783</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dd</string>
			<key>text</key>
			<string>DevDocs</string>
			<key>url</key>
			<string>https://devdocs.io#q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C3A1980F-CD00-45F4-8AE7-A86E6DD597F8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bbb</string>
			<key>text</key>
			<string>dribbble</string>
			<key>url</key>
			<string>https://dribbble.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CF07C2EC-97F0-4530-83EB-6B24005A63B8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>npm</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DB54BEEC-A3E8-48A5-9219-DCB97FE60B96</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pg</string>
			<key>text</key>
			<string>pg</string>
			<key>url</key>
			<string>https://www.postgresql.org/search/?u=%2Fdocs%2F11%2F&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DF6AB5C1-84F8-4F65-AD28-2D2A4AA2D85B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>phx</string>
			<key>text</key>
			<string>phx</string>
			<key>url</key>
			<string>https://hexdocs.pm/phoenix/search.html?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E7B641B6-6D2F-46C7-AC08-6BF0EC0A657E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>man</string>
			<key>text</key>
			<string>man</string>
			<key>url</key>
			<string>http://man.he.net/?topic={query}&amp;section=all</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
