################################################################################
# climate_control (https://github.com/thoughtbot/climate_control)
################################################################################

snippet cc "Climate control: modify ENV in test"
ClimateControl.modify ${0}: 'value' do
end
endsnippet
