snippet id
INT. ${0} – DAY
endsnippet

snippet in
INT. ${0} - NIGHT
endsnippet

snippet ed
EXT. ${0} – DAY
endsnippet

snippet en
EXT. ${0} – NIGHT
endsnippet

snippet vo
${0} (V.O.)
endsnippet

snippet fi
FADE IN:

${0}
endsnippet

snippet ct
.CUT TO:

${0}
endsnippet

snippet cbt
.CUT BACK TO:

${0}
endsnippet

snippet tit
.TITLE:

> **${0}** <
endsnippet
