################################################################################
# MiniTest
################################################################################

snippet test "MiniTest: test case"
test "${0}" do
end
endsnippet

snippet ass "MiniTest: assert"
assert ${0}
endsnippet

snippet asst "MiniTest assert text"
assert_text ${0}
endsnippet
