################################################################################
# Rust snippets
################################################################################

snippet pl
println!("$0");
endsnippet

snippet sf
String::from("$0")
endsnippet

snippet st
struct ${1} {
    ${0}
}
endsnippet
