################################################################################
# TypeScript react snippets
################################################################################

extends jsx
extends typescript
