################################################################################
# VCR :: https://github.com/vcr/vcr
################################################################################

snippet vcr "VCR: use cassette"
VCR.use_cassette "${1}" do
	${0:${VISUAL:}}
end
endsnippet
