################################################################################
# Vimscript snippets
################################################################################

snippet fx
function! ${0}
endfunction
endsnippet
